<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-3">
    <h3 class="mb-3">Listing Details :</h3>
  </div>
  <div class="card col-md-6 offset-3">
    <img
      class="card-img-top show-img"
      src="<%= list.image.url %>"
      alt="listing_img"
    />

    <div class="card-body car-padding">
      <b><p class="card-text"><%= list.title %></p></b>
      <p class="card-text mt-2"><%= list.description %></p>
      <p class="card-text">
        <b>Price : </b> &nbsp;&#8377;&nbsp; <%=
        list.price.toLocaleString("en-IN") %>
      </p>
      <p class="card-text"><b>Location :</b>&nbsp; <%= list.location %></p>
      <p class="card-text"><b>Country :</b>&nbsp; <%= list.country %></p>
    </div>
    <div class="row">
      <div class="col-1 mt-3">
        <a class="btn btn-dark" href="/listings/<%= list._id %>/edit">Update</a>
      </div>
      <div class="col-1 offset-1 mt-3">
        <form action="/listings/<%= list._id %>?_method=DELETE" method="post">
          <button class="btn btn-dark black">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
