<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <h1 class="mb-3">Update Listing</h1>
    <form
      action="/listings/<%= list._id %>?_method=PUT"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="row">
        <div class="mb-3 col-md-8">
          <label class="form-label" for="title">Enter Property Name : </label>
          <input
            class="form-control"
            type="text"
            name="listing[title]"
            id="title"
            value="<%= list.title %>"
            required
          />
          <div class="invalid-feedback">Title can't be Empty!</div>
          <div class="valid-feedback">Title Looks Good!</div>
        </div>
        <div class="mb-3 col-md-4">
          <label class="form-label" for="category">Change Category : </label>
          <select
            class="form-select"
            id="category"
            name="listing[category]"
            required
          >
            <option selected="<%= list.category %>">
              <%= list.category %>
            </option>
            <option value="Rooms">Rooms</option>
            <option value="Iconic-Cities">Iconic Cities</option>
            <option value="Mountains">Mountains</option>
            <option value="Castles">Castles</option>
            <option value="Greenery">Greenery</option>
            <option value="Camping">Camping</option>
            <option value="Farms">Farms</option>
            <option value="Arctic">Arctic</option>
            <option value="Beaches">Beaches</option>
            <option value="Pools">Pools</option>
            <option value="Riverfronts">Riverfronts</option>
          </select>
          <div class="invalid-feedback">Choose a category!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Enter Description : </label>
        <textarea
          class="form-control"
          rows="5"
          cols="5"
          name="listing[description]"
          id="description"
          required
        >
<%= list.description %></textarea
        >
        <div class="invalid-feedback">Description Required!</div>
      </div>

      <div class="mb-3 col-md-4">
        <p class="form-label">Current Image :</p>
        <img src="<%= orignalImageUrl %>" alt="" />
      </div>
      <div class="mb-3 col-md-8">
        <label class="form-label" for="image"> Upload New Image: </label>
        <input
          class="form-control"
          type="file"
          name="listing[image]"
          id="image"
        />
        <div class="invalid-feedback">Edited Image Url Should be Correct!</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label class="form-label" for="price">Enter Price : </label>
          <input
            class="form-control"
            type="number"
            name="listing[price]"
            id="price"
            value="<%= list.price %>"
            required
          />
          <div class="invalid-feedback">Price must be filled!</div>
        </div>
        <div class="mb-3 col-md-8">
          <label class="form-label" for="country">Enter Country : </label>
          <input
            class="form-control"
            type="text"
            name="listing[country]"
            id="country"
            value="<%= list.country %>"
            required
          />
          <div class="invalid-feedback">Country Required!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Enter location : </label>
        <input
          class="form-control"
          type="text"
          name="listing[location]"
          id="location"
          value="<%= list.location %>"
          required
        />
        <div class="invalid-feedback">Location Required!</div>
      </div>
      <br />
      <button class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
